<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tode App</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .inline {
        display: inline;
      }
    </style>
  </head>
  <body>
      <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">Todo App</h3>
          </div>
        <div class="row col-md-auto">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    <h4>Add Task</h4>
                  </div>
                <form action="" method="post">
                    {% csrf_token %} {{forms.as_p}}
                    <input type="submit" value="Add Task" class="btn btn-primary"/>
                  </form>
            </div>
            <div class="col">
                <div class="alert alert-dark" role="alert">
                    <h4>Show Task</h4>
                  </div>
                <table class="table ">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Task</th>
                        <th scope="col">Remove Task</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in displaydata %}
                      <tr>
                        <th scope="row">{{data.id}}</th>
                        <td>{{data.task}}</td>
                        <td>
                            <form action="{% url 'delete' data.id %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="submit" value="Delete" />
                            </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
      </div>

      
    </body>
</html>
